---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
  import Faq from '@/components/Faq.vue';
  import group from "@/assets/group.png";
  import office from "@/assets/office.jpg";
  import { UserCircleIcon, PlusCircleIcon, DocumentTextIcon, BriefcaseIcon, CheckCircleIcon } from '@heroicons/vue/24/outline';
  import { PlayIcon, XCircleIcon } from '@heroicons/vue/24/solid';

  import icon1 from '@/assets/icons/481.svg';
  import icon2 from '@/assets/icons/482.svg';
  import icon3 from '@/assets/icons/483.svg';
  import icon4 from '@/assets/icons/484.svg';
  import Blogs from '@/components/Blogs.vue';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
   <section class="bg-neutral-950 p-24">
    <h1 class="text-5xl font-bold text-center text-neutral-200">About Us</h1>
  </section>
  <section class="p-28 space-y-16">
    <div class="grid grid-cols-2 gap-8">
      <h2 class="text-4xl font-bold text-neutral-800">Et nunc ut tempus duis nisl sed massa</h2>
      <p>Nunc sed a nisl purus. Nibh dis faucibus proin lacus tristique. Sit congue non vitae odio sit erat in. Felis eu ultrices a sed massa. Commodo fringilla sed tempor risus laoreet ultricies ipsum. Habitasse morbi faucibus in iaculis lectus. Nisi enim feugiat enim volutpat. Sem quis viverra viverra odio mauris nunc. </p>
    </div>
    <Image src={group} alt="group project" class="w-full rounded-2xl"/>
 <div>
        <div class="text-center space-y-4 mb-16">
            <h1 class="text-4xl font-bold text-neutral-950">How It Works?</h1>
            <p class="line-clamp-2 text-neutral-700 text-sm w-2/3 mx-auto">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo. Ultrices purus diam egestas amet faucibus tempor blandit. Elit velit mauris aliquam est diam. Leo sagittis consectetur diam morbi erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar.</p>
        </div>
        <div class="grid grid-cols-4 gap-8 w-4/5 mx-auto text-sm text-center">
            <div class="flex flex-col aspect-square justify-center items-center gap-2 p-8">
              <UserCircleIcon class="text-green-400 size-8" />  
              <h5 class="text-lg font-bold text-neutral-700">Instagram</h5>
                <p class="text-xs text-neutral-500">Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
            </div>
            <div class="flex flex-col aspect-square justify-center items-center gap-2 p-8">
              <DocumentTextIcon class="text-green-400 size-8" />  
              <h5 class="text-lg font-bold text-neutral-700">Tesla</h5>
                <p class="text-xs text-neutral-500">Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
            </div>
            <div class="flex flex-col aspect-square justify-center items-center gap-2 p-8">
              <BriefcaseIcon class="text-green-400 size-8" />  
                <h5 class="text-lg font-bold text-neutral-700">McDonald's</h5>
                <p class="text-xs text-neutral-500">Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
            </div>
            <div class="flex flex-col aspect-square justify-center items-center gap-2 p-8">
                <CheckCircleIcon class="text-green-400 size-8" />  
                <h5 class="text-lg font-bold text-neutral-700">Apple</h5>
                <p class="text-xs text-neutral-500">Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
            </div>

        </div>
    </div>
    <div class="relative overflow-hidden rounded-2xl">
      <Image src={office} alt="office" class="w-full h-[600px]" />
      <div class="absolute w-full h-full top-0 left-0 flex justify-center items-center flex-col gap-8 backdrop-blur-[5px] backdrop-brightness-50">
        <div class="bg-primary rounded-full p-4 flex justify-center items-center w-16 h-16">
          <PlayIcon class="text-white size-12" />
        </div>
        <h1 class="text-white text-4xl font-bold text-center" >Good Life Begins With <br> A Good Company</h1>
      </div>
      <div class="absolute  bg-neutral-950 h-32 bottom-0 left-0 w-full gap-8 flex text-neutral-50 font-bold justify-around items-start p-8">
        <div class="flex gap-4">
          <div class="bg-primary p-2 w-8 h-8 aspect-square rounded-lg flex justify-center items-center"><span class="text-xl">1</span></div>
          <div>
            <h5 class="">Lectus dolor blandit massa pretium id ultrices phasellus tortor. </h5>
            <span class="text-xs text-primary">Learn More</span>
          </div>
        </div>
        <div class="flex gap-4">
          <div class="bg-primary p-2 w-8 h-8 aspect-square rounded-lg flex justify-center items-center"><span class="text-xl">2</span></div>
          <div>
            <h5 class="">Lectus dolor blandit massa pretium id ultrices phasellus tortor. </h5>
            <span class="text-xs text-primary">Learn More</span>
          </div>
        </div>
        <div class="flex gap-4">
          <div class="bg-primary p-2 w-8 h-8 aspect-square rounded-lg flex justify-center items-center"><span class="text-xl">3</span></div>
          <div>
            <h5 class="">Lectus dolor blandit massa pretium id ultrices phasellus tortor. </h5>
            <span class="text-xs text-primary">Learn More</span>
          </div>
        </div>
      </div>

    </div>
    <Faq client:visible />
  </section>

  <section class="w-4/5 mx-auto">
    <div class="flex items-center gap-16">
      <div class="w-1/2 grid grid-cols-2 gap-4 grid-rows-3 h-96">
        <div class="row-span-3 bg-sky-500 rounded-lg"></div>
        <div class="row-span-2 bg-green-500 rounded-lg"></div>
        <div class="row-span-1 bg-pink-500 rounded-lg"></div>
      </div>
      <div class="space-y-8">
        <h1 class="text-4xl font-bold">We're Only Working With The Best</h1>
        <p>Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
        <div class="grid grid-cols-2 gap-y-8 text-neutral-800 font-bold text-sm">
          <div class="flex gap-4 items-center">
            <Image src={icon1} alt="icon1" class="w-12 h-12"/>
            <p>Quality Job</p>
          </div>
          <div class="flex gap-4 items-center">
            <Image src={icon2} alt="icon2" class="w-12 h-12"/>
            <p>Resume Builder</p>
          </div>
          <div class="flex gap-4 items-center">
            <Image src={icon2} alt="icon3" class="w-12 h-12" />
            <p>Top Companies</p>
          </div>
          <div class="flex gap-4 items-center">
            <Image src={icon3} alt="icon4" class="w-12 h-12"/>
            <p>Top Talents</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Blogs/>
</Layout>
