---
import { ref } from 'vue';
import { Image } from 'astro:assets';
const recentJobDescription = ref(true);
import CallToAction from '@/components/CallToAction.vue';
import { MagnifyingGlassIcon, ChevronDownIcon, BriefcaseIcon, UserGroupIcon, BuildingOffice2Icon, ClockIcon, WalletIcon, MapPinIcon, ChatBubbleOvalLeftEllipsisIcon, ShoppingBagIcon, AcademicCapIcon } from '@heroicons/vue/24/outline';
import { StarIcon } from '@heroicons/vue/24/solid';
import JobList from '@/components/JobList.vue';
import Brands from '@/components/Brands.vue';

import Blogs from "@/components/Blogs.vue";
//images

import avatar1 from "@/assets/avatars/2.jpg";
import avatar2 from "@/assets/avatars/3.jpg";
import avatar3 from "@/assets/avatars/5.jpg";

import quotes from "@/assets/icons/Quotes.svg";

import office from "@/assets/office.jpg";
import working from "@/assets/working.jpg";
import happy from "@/assets/happy.jpg";
import imgs from "@/assets/imgs.png";
import group from "@/assets/group.png";
---


	 <header class="w-full h-fit relative">
     <Image class="absolute top-0 left-0 w-full h-full object-cover" src={office} alt={"office image"} />
        <div class="bg-black/50 backdrop-blur-[5px] backdrop-brightness-50"> 
            <div class="text-center px-16 py-28">
                <h1 class="font-bold text-neutral-100 text-3xl lg:text-6xl">Find Your Dream Job Today!</h1>
                <p class="text-neutral-300 my-4" >Connecting Talent with Opportunity: your Gateway to Career Success</p>
                <form class="rounded-xl overflow-hidden grid  md:grid-cols-4 max-w-[800px] bg-white mx-auto text-sm text-neutral-600 mt-8">
                    <div class="p-2">
                        <input type="text" name="job" class="p-2 mx-2 focus:outline-none placeholder:text-neutral-600" placeholder="Job Title or Company" />
                    </div>
                    <div class="p-2">
                        <select class="w-full mx-2  p-2  lg:border-x border-neutral-400" name="location" placeholder="Select Location">
                            <option>Delhi</option>
                        </select>
                    </div>
                    <div class="p-2">
                        <select class="w-full mx-2 p-2" name="category" placeholder="Select Category">
                            <option>Customer Care</option>
                        </select>
                    </div>
                    <div class="p-2">
                      <button class="text-neutral-200 bg-primary flex justify-center font-bold items-center rounded-md p-2 gap-1 w-full h-full"><MagnifyingGlassIcon class="size-5"/><span>Search Job</span></button></div>
                </form>
            </div>
            <div class="flex justify-between px-8 md:w-1/2 lg:w-1/3 mx-auto pb-16">
                <div class="flex gap-2 items-center">
                    <BriefcaseIcon class="size-10 text-neutral-50 bg-primary p-2 rounded-full"/>
                    <div>
                        <span class="font-bold text-neutral-50">25,850</span>
                        <p class="text-xs text-neutral-400">Jobs</p>
                    </div>
                </div>
                <div class="flex gap-2 items-center">
                    <UserGroupIcon class="size-10 text-neutral-50 bg-primary p-2 rounded-full"/>
                    <div>
                        <span class="font-bold text-neutral-50">10,250</span>
                        <p class="text-xs text-neutral-400">Candidates</p>
                    </div>
                </div>
                <div class="flex gap-2 items-center">
                    <BuildingOffice2Icon class="size-10 text-neutral-50 bg-primary p-2 rounded-full"/>
                    <div>
                        <span class="font-bold text-neutral-50">18,400</span>
                        <p class="text-xs text-neutral-400">Companies</p>
                    </div>
                </div>

            </div>
        </div>
   </header>
   <div class="w-full overflow-hidden">
     <Brands class="bg-neutral-950" />
   </div>
    <section class=" w-4/5 mx-auto py-12">
        <h1 class="text-2xl text-center md:text-left md:text-4xl text-neutral-950 font-semibold">Recent Jobs Available</h1>
        <div class="flex text-center md:text-left flex-col md:flex-row justify-between items-start my-4">
            <p class="text-sm text-neutral-600 w-96 line-clamp-1">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet
. Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo. Ultrices purus diam egestas amet faucibus tempor blandit. Elit velit mauris aliquam est diam. Leo sagittis consectetur diam morbi erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar. Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
        <button onclick="this.parentElement.children[0].classList.toggle('line-clamp-1')"  class="underline text-primary">View All</button>
        </div>
        <div class="space-y-16 py-8 md:px-12">
          <JobList />
        </div>
    </section>
    <section class="bg-primary/30 p-20">
        <div class="text-center space-y-4 mb-16">
            <h1 class="text-2xl md:text-4xl font-bold text-neutral-950">Browse By Category</h1>
            <p class="line-clamp-1 text-neutral-700 text-sm md:w-2/3 mx-auto">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo. Ultrices purus diam egestas amet faucibus tempor blandit. Elit velit mauris aliquam est diam. Leo sagittis consectetur diam morbi erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar. Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 w-3/4 mx-auto text-sm">
            <div class="bg-white rounded-lg flex flex-col aspect-square justify-center items-center gap-2">
                <ChatBubbleOvalLeftEllipsisIcon class="size-10 text-primary mb-2" />
                <h5 class="text-lg font-bold text-neutral-700">Customer Support</h5>
                <span class="text-primary bg-primary/10 px-2 py-1 rounded-full mt-4">124 Jobs</span>
            </div>
            <div class="bg-neutral-100 rounded-lg flex flex-col aspect-square justify-center items-center gap-2">
                <ShoppingBagIcon class="size-10 text-primary mb-2" />
                <h5 class="text-lg font-bold text-neutral-700">Sales Executive</h5>
                <span class="text-primary bg-primary/10 px-2 py-1 rounded-full mt-4">120 Jobs</span>
            </div>
            <div class="bg-neutral-100 rounded-lg flex flex-col aspect-square justify-center items-center gap-2">
                <AcademicCapIcon class="size-10 text-primary mb-2" />
                <h5 class="text-lg font-bold text-neutral-700">Educator</h5>
                <span class="text-primary bg-primary/10 px-2 py-1 rounded-full mt-4">70 Jobs</span>
            </div>
            <div class="bg-neutral-100 rounded-lg flex flex-col aspect-square justify-center items-center gap-2">
                <UserGroupIcon class="size-10 text-primary mb-2" />
                <h5 class="text-lg font-bold text-neutral-700">Human Resources</h5>
                <span class="text-primary bg-primary/10 px-2 p-1 rounded-full mt-4">50 Jobs</span>
            </div>

        </div>
    </section>
    <section>
        <div class="flex flex-col md:flex-row items-center justify-center w-2/3 mx-auto my-24">
          <Image src={happy} alt={"Happy"} class="w-96 aspect-square object-cover rounded-lg shadow-primary shadow-2xl" />
            <div class="p-8 space-y-4">
                <h2 class="text-3xl font-bold">Good Life Begins With A Good Company</h2>
                <p class="line-clamp-6 text-xs text-neutral-600">Ultricies purus dolor viverra mi laoreet at cursus justo. Ultrices purus diam egestas amet faucibus tempor blandit. Elit velit mauris aliquam est diam. Leo sagittis consectetur diam morbi erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat
. Adipiscing risus amet phasellus imperdiet eget vel pulvinar. Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
                <div class="mt-8">
                    <button class="bg-primary rounded-sm px-4 p-1.5 text-neutral-200 text-xs font-bold">Search Jobs</button>
                    <button class="px-4 p-1.5 text-primary text-xs font-bold">Search Jobs</button>
                </div>
            </div>
        </div>
        <div class="grid  md:grid-cols-3 gap-16 w-2/3 mx-auto mb-24">
                <div>
                    <h3 class="text-primary text-3xl font-bold">12K+</h3>
                    <span class="font-bold text-lg">Clients Worlwide</span>
                    <p class="text-xs text-neutral-500">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum.</p>
                </div>
                 <div>
                    <h3 class="text-primary text-3xl font-bold">20K+</h3>
                    <span class="font-bold text-lg">Active Resume</span>
                    <p class="text-xs text-neutral-500">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum.</p>
                </div>
                <div>
                    <h3 class="text-primary text-3xl font-bold">18K+</h3>
                    <span class="font-bold text-lg">Companies</span>
                    <p class="text-xs text-neutral-500">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum.</p>
                </div>
            </div>

    </section>
    <section>
        <div class="bg-neutral-950 rounded-xl overflow-hidden md:p-12 flex flex-col md:flex-row gap-8 w-2/3 mx-auto mb-24">
            <div class="space-y-4 p-12">
                <h1 class="text-3xl font-bold text-neutral-50">Create A Better Future For Yourself!</h1>
                <p class="text-xs text-neutral-400">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum.</p>
                <CallToAction class="mt-8"/>
            </div>
            <div class="relative md:w-2/3 h-60 overflow-hidden"><Image src={imgs} alt={"corporte employees"} class=" md:absolute top-0 left-0 overflow-visible h-96 md:w-auto object-cover " /></div>
        </div>
    </section>
    <section class="bg-primary/20 pb-16">
        <div class="text-center space-y-4 py-16">
            <h1 class="text-4xl font-bold text-neutral-950">Testimonials From Our Customers</h1>
            <p class="line-clamp-1 text-neutral-700 text-sm w-2/3 mx-auto">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo. Ultrices purus diam egestas amet faucibus tempor blandit. Elit velit mauris aliquam est diam. Leo sagittis consectetur diam morbi erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar. Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
        </div>
        <div class="grid md:grid-cols-3 gap-8 w-2/3 mx-auto">
            <div class="bg-neutral-50 rounded-lg p-8 space-y-2">
                <div class="flex gap-1">
                    <StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/>
                </div>
                <h5 class="font-bold text-neutral-900">Amazing Services</h5>
                <p class="line-clamp-4 text-neutral-700 text-xs">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo.</p>
                <Image src={quotes} alt={"quote"} class="w-6 h-6 ml-auto" />
                <div class="flex items-center gap-2">
                  <Image src={avatar2} alt={"avatar 1"} class="w-10 h-10 rounded-full"/>
                    <div class="space-y-0">
                        <p class="text-neutral-700 text-sm">Suresh Raina</p>
                        <span class="text-xs text-neutral-500">Happy Client</span>
                    </div>
                </div>
            </div>
             <div class="bg-neutral-50 rounded-lg p-8 space-y-2">
                <div class="flex gap-1">
                    <StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/>
                </div>
                <h5 class="font-bold text-neutral-900">Amazing Services</h5>
                <p class="line-clamp-4 text-neutral-700 text-xs">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo.</p>
                <Image src={quotes} alt={"quote"} class="w-6 h-6 ml-auto" />
                <div class="flex items-center gap-2">
                  <Image src={avatar2} alt={"avatar 2"} class="w-10 h-10 rounded-full"/>
                    <div class="space-y-0">
                        <p class="text-neutral-700 text-sm">Suresh Raina</p>
                        <span class="text-xs text-neutral-500">Happy Client</span>
                    </div>
                </div>
            </div>
             <div class="bg-neutral-50 rounded-lg p-8 space-y-2">
                <div class="flex gap-1">
                    <StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/><StarIcon class="text-yellow-500 size-5"/>
                </div>
                <h5 class="font-bold text-neutral-900">Amazing Services</h5>
                <p class="line-clamp-4 text-neutral-700 text-xs">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo.</p>
                <Image src={quotes} alt={"quote"} class="w-6 h-6 ml-auto" />
                <div class="flex items-center gap-2">
                  <Image src={avatar3} alt={"avatar 3"} class="w-10 h-10 rounded-full"/>
                    <div class="space-y-0">
                        <p class="text-neutral-700 text-sm">Suresh Raina</p>
                        <span class="text-xs text-neutral-500">Happy Client</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <Blogs />

